div.sidebar {
    /*border-right: solid 1px #eee;*/
}
div.sidebar #create-link {

}

div.sidebar #create-group-list {
    display: none;
}

div.sidebar #top-filter {
    font-size: 1.4em;
    margin-bottom: 30px;
    background: whitesmoke;
    box-shadow: 0px 0px 3px rgba(0,0,0,0.10);
    /*border-bottom: solid 1px #ddd;*/
}

div.sidebar #top-filter li{
    margin-right: 0px;
}

div.sidebar #top-filter a{
    /*padding: 5px 0;*/
    /*padding-left: 10px;*/
    padding-left: 10px;
    padding: 5px;
    height: 30px;
    color: #999;
    border-bottom: solid 1px #ddd;
    box-shadow: 0px 1px 0px rgba(255,255,255,0.6) inset, -1px 0px 0px rgba(255,255,255,0.5) inset;
    border-left: solid 5px #aaa;
}

div.sidebar #top-filter a.active, div.sidebar #top-filter a:hover{
    color: #61C03C;
    background: #eee;
    background: #fafafa;
    border-left: solid 5px #61C03C;
}

div.sidebar #regular-filter {
    /*border-right: solid 1px #eee;*/
    border-top: solid 1px #eee;
    padding-left: 10px;
}

div.sidebar #regular-filter h2{
    font-weight: normal;
    margin-bottom: 10px;
}
div.sidebar #regular-filter button#set-button{
    height: 30px;
    width: 80px;
    width: 170px;
    float: right;
    margin-right: 37px;
    background: #aaa;
    border-radius: 5px;
}
div.sidebar #regular-filter .control-group{
    margin-bottom: 10px;
}


div.sidebar #regular-filter input[type="text"]{
    border: solid 1px #eee;
    height: 30px;
}

div.sidebar .control-group select {
    height: 20px;
    border: none;
}
div.sidebar .control-group label{
    font-size: 0.8em;
}

div.sidebar .side-zone {
    /*height: 150px;*/
    padding: 10px;
    border: solid 1px white;
    margin-bottom: 20px;
    background: whitesmoke;
    box-shadow: 0px 0px 3px rgba(0,0,0,0.20);
    padding-bottom: 20px;
    overflow: hidden;
}

#follower ul.followers-avatar li {
    height: 36px;
    width: 36px;
    float: left;
    overflow: hidden;
    margin: 0px;
    padding: 5px;
}
#follower ul.followers-avatar li img{
    width: 30px;
    border: solid 3px white;
}

div#top-filter {
    
}

div#content div#category-sort {
    display: inline-block;
    float: right;
}

div#content div#category-sort label#sort-option-label{
    position: relative;
    top: 3px;
    color: #777;
    margin-right: 10px;
}

div.profile-top {
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom: solid 1px #eee;
    overflow: hidden;
}

div.profile-top .profile-top-follow {
    /*width: 88px;*/
    margin-top: 46px;
}

div.profile-top .avatar {
    /*width: 100%;*/
    /*border: solid 5px white;*/
}

div.profile-top div.avatar img{
    width: 80px;
    width: 90px;
    height: 90px;
    border: solid 5px white;
    vertical-align: top;
    /*float: right;*/
}

.profile-content {
    background: #FCFCFC;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
    border: solid 1px white;
    padding-bottom: 30px;
}

div.profile-info {
    padding: 10px;
    border-bottom: solid 1px #ccc;
}

div.profile-info:hover {
    background: #f4f4f4;
}

div.profile-info h4 {
    margin-left: 0px;
    display: inline-block;
    margin-bottom: 10px;
}

div.profile-info a {
    float: right;
}

.control-group {
    margin-bottom: 5px;
    overflow: hidden;
}

.control-group .control-group-description .inside{
    float: right;
    padding-right: 10px;
}
.control-group .control-group-content .inside{
    float: left;
    padding-left: 10px;
}

.profile-info-container .profile-info {
    border: solid 1px #ccc;
}

.edit-form .control-group {
    margin-bottom: 20px;
}

.edit-form .control-group button{
    height: 30px;
}
