#page {
white-space: nowrap;
}
#page a, #page strong {
width: 23px;
height: 22px;
line-height: 22px;
font-size: 14px;
text-align: center;
line-height: 22px;
display: inline-block;
border: 1px solid 
#E7ECF0;
background: white;
margin-right: 5px;
text-decoration: none;
vertical-align: middle;
}
#page .n {
width: 60px;
font-family: Arial, Helvetica, sans-serif;
line-height: 24px;
overflow: hidden;
}

user agent stylesheeta:-webkit-any-link {
color: -webkit-link;
text-decoration: underline;
cursor: auto;
}
div#search-header-wrap {
    height: 30px;
    background: #474747;
    width: 100%;
    box-shadow: 0px 1px 5px rgba(0,0,0,0.4);
}

div#long-search-form {
    height: 30px;
    padding-top: 20px;
    padding-bottom: 20px;
    position: relative;
}
div#long-search-form input[type="text"] {
    height: 30px;
    /*box-shadow: 0px 0px 5px rgba(0,0,0,0.3) inset;*/
    padding-left: 15px;
    width: 435px;
    border-radius: 15px;
}
div#long-search-form button {
    border-radius: 15px;
    height: 30px;
    width: 30px;
    border: none;
    position: absolute;
    top: 20px;
    right: 10px;
    background: #309DF3 url("../img/search.png") center no-repeat;
    box-shadow: 0px 1px rgba(255,255,255,0.3) inset,
                0px -1px rgba(255,255,255,0.3) inset;
}
h2 {
    margin: 0 auto;
    text-align: left;
    font-weight: normal;
    color: #66FF00;
}
h3{
	text-align: left;
	font-weight: normal;
	color: #FFFFFF;
	margin-top: 7px;	

}
.content-details {
	box-shadow: 1px 1px 10px rgba(0,0,0,0.3);
	margin-top: 5px;
	padding-top: 20px;
}
.search-container_16 {
  margin-left: auto;
  margin-right: auto;
  width: 960px;
}
.search-container_16 .grid_6 {
  width: 340px;
}
.search-container_16 .grid_10 {
  width: 580px;
}
