user agent stylesheeta:-webkit-any-link {
color: -webkit-link;
text-decoration: underline;
cursor: auto;
}
div#search-header-wrap {
    height: 30px;
    background: #fff;
    width: 100%;
}

h2 {
    margin: 0 auto;
    text-align: left;
    font-weight: normal;
    color: #999;
    font-size: 1em;
    margin-top: 4px;
}
h3{
	text-align: left;
	font-weight: normal;
	color: #FFFFFF;
	margin-top: 7px;	

}
.content-details {
	box-shadow: 1px 1px 10px rgba(0,0,0,0.3);
	margin-top: 5px;
	padding-top: 20px;
}
.search-container_16 {
  margin-left: auto;
  margin-right: auto;
  width: 960px;
}
.search-container_16 .grid_6 {
  width: 340px;
}
.search-container_16 .grid_10 {
  width: 580px;
}
