<div>
	<div>
		<h3>Create User</h3>
	</div>
	<div>
		<form action="/admin/createuser" method="post">
			<div>
				<label for="email_address">Email Address: </label>
				<input name="email_address" type="text" />
			</div>
			<div>
				<label for="first_name">First Name :&nbsp &nbsp &nbsp </label>
				<input name="first_name" type="text" />
			</div>
			<div>
				<label for="last_name">Last Name: &nbsp &nbsp &nbsp</label>
				<input name="last_name" type="text" />
			</div>
			<div>
				<label for="password">Password(only for admin): &nbsp &nbsp &nbsp</label>
				<input name="password" type="text" />
			</div>
			<div>
				<label for="roles">Roles: </label><br />
				<input name="roles" type="radio" value="fellow"/>Omar Fellow<br />
				<input name="roles" type="radio" value="admin"/>Admin<br />
			</div>
			<div>
				<input type="submit" value="Create New Account" />
			</div>
		</form>
	</div>
</div>
