{% extends "base.html" %}
{% block title %}People and Activity{%end%}
{% block extra-links %}
<link rel="stylesheet" href="{{static_url('./css/panda.css')}}" type="text/css"/>
{% end %}



{% block content %}
<div id="container" class="container_16">
    <div id="sidebar-wrap" class="grid_4">
        <div id="sidebar">
            <div id="top-filter">
              <div id="top-filter-bg"></div>
                <ul>
                    <li><a href="#">Activities</a></li>
                    <li><a class="active" href="#">Information</a></li>
                    <li><a href="#">Innovation</a></li>
                </ul>
            </div>
            <div id="follower" class="side-zone">
              <h4>follower(20)</h4>
            </div>
            <div id="following" class="side-zone"></div>
        </div>
    </div>

    <div id="content-wrap" class="grid_12">
        <div id="content">
          <div class="profile-top">
            <div class="avatar grid_2 alpha">
                <img src="{{static_url('./img/avatar_big.jpg')}}" alt="" />
            </div>
            <div class="profile-top-follow">
            </div>
          </div>
          <div class="profile-info-container">
            <div class="profile-info">
              <h4>Contact Info</h4>
              <a href="#">edit</a>
              {% for k,v in user[0].items() %}
              {% if v!=None %}
              <ul class="control-group">
                <li class="control-group-description grid_3 alpha"><p class="inside">{{k}}:</p></li>
                <li class="control-group-content grid_5 omega"><p class="inside">{{v}}</p></li>
              </ul>
              {% end %}
              {% end %}
            </div>
            <div class="profile-info">
              <h4>Organzition Info</h4>
              <a href="#">edit</a>
            </div>
            <div class="profile-info">
              <h4>Basic Info</h4>
              <a href="#">edit</a>
            </div>
          </div>

        </div>
    </div>
</div>
{%end%}
