{% extends "base.html" %}
{% block title %}People and Activity{%end%}
{% block extra-links %}
<link rel="stylesheet" href="{{static_url('./css/searchresults.css')}}" type="text/css"/>
{% end %}


{% block content %}
<div id="search-header-wrap">
  <div  class="search-container_16">
    <div  class="grid_6">
      <h2>Search results
        {%if count==0 or count==1%}
        {{count}} item in total
        {%else%}
        {{count}} items in total
        {%end%}
      </h2>
    </div>
  </div>
</div>
<div id="container" class="container_16">
  <div  class="sidebar-wrap grid_4">
    <div class="sidebar">
      <div id="top-filter">
        <ul>
          <li><a class="active" href="#">Events</a></li>
          <li><a  href="#">Offers</a></li>
          <li><a href="#">Needs</a></li>
          <li><a href="#">People</a></li>
        </ul>
      </div>
    </div>
  </div>

  <div id="content-warp" class="grid_12" style="background:#f9f9f9;">
    <div class="profile-info" style="overflow:hidden;">
      {%if count== 0%}
      <h3 class="item-title">{{mes}}</h3>
      {%end%}      
      {% for i in sList%}

      <div class="item-details grid_11 omega">
        <div class="item-details-main">
          <div class="general-info">
            <h3 class="item-title">{{i['title']}}</h3>
            <p class="item-time">{{i['time']}}</p>
          </div>
          <div class="item-description-wrap">
            <p class="item-description"> {{i['description']}}</p>
          </div>
        </div>
        <div class="item-details-tags">
          <div class="location-tag">
            {{i['first_name']}} {{i['last_name']}}
            <a href="" class="tag normal-tag">tagname</a> 
          </div>
        </div>
      </div>
      {%end%} 
    </div>
  </div>
</div>
{% end %}
