<html>
    <head>
        <title>set your password</title>
        <link rel="stylesheet" type="text/css" href="{{static_url("css/login.css")}}">
        <link rel="stylesheet" type="text/css" href="{{static_url("css/960_16_col.css")}}" />
        <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7/jquery.js"></script>
    </head>
    <body style="background:#474747" url("{{static_url("./img/pattern.gif")}}")>
        <div class="container">
            <div id="login-wrap">
                <div id="logo" class="container_16">
                    <a href="/">
                        <img src="{{static_url("./img/big_logo_light.png")}}" style="width:360px;margin: 100px 300px 20px;" alt="" />
                    </a>
                </div>
                <div id="login" class="container_16">
                    <form id="login-form" class="" action="{{request.path}}" method="post">
                        <h2 style="margin-bottom: 20px;">Set password:</h2>
                        <input id="login-password" name="user_passwd" type="text" placeholder="New Password" />
                        <div id="login-email-checker" class="pop-info hide"><p id="error-info">The passwords are not same.</p></div>
                        <input id="login-repassword" name="user_repasswd" type="text" placeholder="Repeat Password" />
                        <button type="submit" class="submit-button">Set!</button>
                    </form>
                </div>
            </div>
        </div>
        <div style="position: absolute;bottom: 0px;box-shadow:0px -1px 19px rgba(0,0,0,0.3);"id="footer"></div>
        <script type="text/javascript">
            passwd = $("input#login-password");
            repass = $("input#login-repassword");
            li = [passwd, repass];
            errorBox = $("div#login-email-checker");

            $.each(li, function() {

                    })


            function showError() {
                if (errorBox.hasClass("hide")) {
                    errorBox.addClass("show");
                    errorBox.removeClass("hide");
                }
            }

            function hideError() {
                if (errorBox.hasClass("show")) {
                    errorBox.addClass("hide");
                    errorBox.removeClass("show");
                }
            }
        </script>
    </body>
</html>
