{% extends "base.html" %}
{% block title %}People and Activity{%end%}
{% block extra-links %}
<link rel="stylesheet" href="{{static_url('./css/panda.css')}}" type="text/css"/>
{% end %}



{% block content %}
<div id="container" class="container_16">
    <div class="sidebar-wrap grid_4">
        <div class="sidebar">
          <div class="profile-top">
            <div class="avatar-wrap grid_2 alpha">
              <div class="avatar">
                <img src="{{static_url('./img/avatar_big.jpg')}}" alt="" />
              </div>
            </div>
            <div class="profile-top-info grid_2 omega">
              <h4>{{user_name}}</h4>
              {% if my_user_id != user_id %}
              {% if not is_followed %}
              <a href="/action/people/follow/{{user_id}}" class="profile-top-follow btn btn-primary" name="people-follow-{{user_id}}">follow</a>
              {% else %}
              <a href="/action/people/unfollow/{{user_id}}" class="profile-top-follow btn btn-active" name="people-follow-{{user_id}}">following</a>
              {% end %}
              {% end %}
            </div>
          </div>
        </div>
    </div>

    <div id="content-wrap" class="grid_9">
        <div id="content" class="profile-content">
            {% block profile_content %}{% end %}
        </div>
    </div>
    
    <div class="sidebar-wrap grid_3">
      <div class="sidebar">
        <!--<div id="follower" class="side-zone">-->
          <!--<h4>follower({{follower_count}})</h4>-->
          <!--<ul class="followers-avatar">-->
            <!--{% for user in follower_list %}-->
            <!--<li><a href="/profile/{{user['user_id']}}" title="{{user['first_name']}} {{user['last_name']}}"><img src="{{static_url('./img/avatar.jpg')}}" alt="" /></a></li>-->
            <!--{% end %}-->
            <!--</ul>-->
          <!--</div>-->
        <!--<div id="following" class="side-zone"></div>-->
      </div>
    </div>
</div>
{%end%}
