{% extends "base.html" %}
{% block title %}People and Activity{%end%}
{% block extra-links %}
<link rel="stylesheet" href="{{static_url('./css/panda.css')}}" type="text/css"/>
{% end %}



{% block content %}
<div id="container" class="container_16">
    <div class="sidebar-wrap grid_4">
        <div class="sidebar">
          <div class="profile-top">
            <div class="avatar-wrap grid_2 alpha">
              <div class="avatar">
                <img src="{{static_url('./img/avatar_big.jpg')}}" alt="" />
              </div>
            </div>
            <div class="profile-top-info grid_2 omega">
              <a href="/profile/{{user_id}}"><h4>{{user_name}}</h4></a>
            </div>
          </div>
        </div>
    </div>

    <div id="content-wrap" class="grid_9">
        <div id="content" class="profile-content">
          <div class="profile-info">
            <h2>{{list[0]['title']}}</h2>
          </div>
          <div class="profile-info">
            <h4>Description</h4>
            <p>{{list[0]['description']}}</p>
          </div>
          <div class="profile-info">
            <h4>Location</h4>
            <p>{{list[0]['location']}}</p>
          </div>
          {% if list[0].has_key('start_date') %}
          <div class="profile-info">
            <p>Start date: {{list[0]['start_date']}}</p>
            <p>End date: {{list[0]['end_date']}}</p>
          </div>
          <div class="profile-info">
            <h4>Work field</h4>
            <p>{{list[0]['work_field']}}</p>
          </div>
          {% end %}
          <div class="profile-info">
            <h4>Target population</h4>
            <p>{{list[0]['target_population']}}</p>
          </div>
        </div>
    </div>
    
    <div class="sidebar-wrap grid_3">
      <div class="sidebar">
      </div>
    </div>
</div>
{%end%}
