{% extends "base.html" %}
{% block title %}Tags{%end%}
{% block extra-links %}
<link rel="stylesheet" href="{{static_url('./css/panda.css')}}" type="text/css"/>
<link rel="stylesheet" href="{{static_url('./css/tags.css')}}" type="text/css"/>
<script type="text/javascript">
$(document).ready(function(){
		$('#container img').click(function(){
			if(!$(this).hasClass("follow") ){              //类follow为空类，作为判断空星实星的标记
				var url_f="/tags/follow/"+$('a',$(this).parent()).prop('id');
				$.ajax({
					url: url_f,
					type: 'post',
					data:{},
					context:this,
					success: function(msg){
						//alert(msg)
						if(msg=="1") {
							$(this).prop('src','/static/img/tag/following.png');
							$(this).addClass("follow");
						}
					}
				});
				
			}
			else{
				
				var url_u="/tags/unfollow/"+$('a',$(this).parent()).prop('id');
				//alert(url_u)
				$.ajax({
					url: url_u,
					type: 'post',
					data:{},
					context:this,
					success: function(msg){
						//alert(msg)
						if(msg=="1") {
							$(this).prop('src','/static/img/tag/plus.png');
							$(this).removeClass("follow");
						}
					}
				
				});
			}
			
	})
})
</script>
{% end %}



{% block content %}

<div id="container" class="container_16">
	{% for title,tags_list in tagdict.items() %}
  <div id="content" class="grid_4">
    <div class="profile-info tag-display">
      <div class="general-info">
          <h3 class="item-title">{{title}}</h3> 
        <!--<div id="sort" class="nav grid_4" >-->
          <!--<ul>-->
            <!--<li><a class="active" href="#">Name</a></li>-->
            <!--<li><a href="#">Most Followers</a></li>-->
            <!--</ul>-->
          <!--</div>-->
          <ul class="tag-list">
            {% for id,k,v,isFollowed in tags_list %}
            <li class="tag normal-tag">
            <a class="tag-link" id="{{id}}" href="#">{{k}}({{v}})
            </a>
            {% if not isFollowed %}
            <!--<img class="avatar" src="/static/img/star/unlit_star.png" alt="" />-->
            <img class="avatar" src="/static/img/tag/plus.png" alt="" />
            {%else%}
            <!--<img class="avatar follow" src="/static/img/star/lit_star.png" alt="" />-->
            <img class="avatar follow" src="/static/img/tag/following.png" alt="" />
            {%end%}
            </li>
            {% end %}
          </ul>
      </div>
    </div>
  </div>
  {%end%}
</div>

{% end %}
